@{
  Layout = "_Layout";
}

@model DoctorOffice.Models.Doctor

<h3>Edit doctor info for:</h3>
<hr />
<p class="doctor-info">@Html.DisplayFor(model => model.Name)</p>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.DoctorId)
  
  <div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name, new {@class = "form-control"})
  </div>

  <div class="form-group">
    @Html.LabelFor(model => model.Specialty)
    @Html.EditorFor(model => model.Specialty, new {@class = "form-control"})
  </div>

  @* <div class="form-group"> 
    @Html.Label("Select patient:")
    @Html.DropDownList("PatientId")
  </div> *@

  <input type="submit" value="Edit" class="btn" />
}
<p>@Html.ActionLink("Back to doctors list", "Index")</p> 