@{
  Layout = "_Layout";
}

@model DoctorOffice.Models.Patient

<h3>Edit patient info for:</h3>
<hr />
<p class="patient-info">@Html.DisplayFor(model => model.Name)</p>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.PatientId)
  <div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name, new {@class = "form-control"})
  </div>
  @* <div class="form-group"> 
    @Html.Label("Select doctor:")
    @Html.DropDownList("DoctorId")
  </div> *@
  <input type="submit" value="Edit" class="btn" />
}
<p>@Html.ActionLink("Back to patients list", "Index")</p> 